section{
    background: url(../../../assets/img4.png);
    // background-size: contain;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;   
    overflow-y: auto!important;
    height: 100vh;
    &>div{
        margin: 20px 30px;
    }
}
form
{
    height: 35rem;
    width: 26rem;
    border-radius: 9px;
    padding: 2rem;
    box-shadow: 0px 2px 13px 1px rgb(218, 216, 216);
    .toggle-ride{
        height: 27px;;
        width: 50px;
        background-color: #FFAC19;
        border-radius: 3rem;
        cursor:pointer;
        .toggle-circle{
            height: 1.3rem;
            width: 1.3rem;
            background-color:  #fff;
            border-radius: 50%;
        }
    }
    .icon{
        margin-top: 40px;
        i{
            color: #E0E0E0;
            margin-bottom: 15px;
            font-size: 0.5rem;
        }
        
        .start{
            color:#9319FF;
            font-size: 0.9rem;
        }
        .end{
            color:#9319FF;
            margin-top: 3px;
            font-size: 17px; 
        }
    }
    .icon-2{
        position: relative;
        bottom: 2rem;
        left: 0.5rem;
        }
    }
    
    .label-text{
        color: #A1A1A1;
    }
    .input-container{
        width:21rem;
        display: flex;
        flex-direction: column;
        input
        {
            border: none;
            border-bottom: 2px solid #D4D4D4;
            &:focus{
                outline: none;
            }
            // &[type="text"] {
            //     text-transform: lowercase;
            // }
        }
        i{
            position: relative;
            left: 20rem;
            bottom: .75rem;
            color: #9319FF;
            cursor:pointer;
        }
        .minus{
            left: 18.5rem;
        }
    }

    .time-stamp{
        div{
            display: flex;
        }
        .background-purple{
            background-color: #9319FF !important;
        }
        button{
            border: 1px solid #9319FF;
            height: 24px;
            width: 88px;
            padding: 0;
            font-size: 13px;
            margin-right: 26px;
            margin-bottom: 10px;
            &:hover{
                background-color: #9319FF;
            }
        }
    }
    .next-button{
        p{
            color: #9319FF;
            float: right;
            cursor: pointer;
        }
    }
    .submit-button button{
        background: #FFAC19;
        padding: 5px 20px;
        border: none;
    }
        


.border-blue{
border-bottom: 2px solid #4A90E2 !important;
}


.next-form{
    margin-left: 5rem;
    form{
        // min-height: 33rem;
        height: auto;
    }
}
.seats-btn{
    
    button{

        height: 3rem;
        width: 3rem;
        margin-right: 1rem;
        background: transparent;
        border: #A1A1A1 solid 2px;
        &:last-child{
            opacity: 0.3;
        }
        &:hover{
            border: none;
            background: #7653FC;
            opacity: 1;
        }
    }
    .background-light-purple{
        opacity: 1 !important;
        background-color: #7653FC !important;
    }
    margin-bottom: 1rem;
    margin-right: 3rem;
}


@media only screen and (max-width: 940px) {

    section>div{
        flex-direction: column;
        justify-content: center;
    }
    .next-form{
        margin-left: 0rem;
    }

}