<section>
    <app-nav></app-nav>
    <div class="d-flex">

    
    <form class="bg-white mb-5" #offerRide="ngForm">
        <div class="d-flex justify-content-between form-title">
          <div>
            <h2 class="mb-0">Offer a ride</h2>
            <p class="text-secondary">we get you the matches asap !</p>
          </div>
          <div class="pisition-relative">
              <div class="d-flex align-items-center ps-1 toggle-ride"  (click)="toogleRide()">
                  <div class="toggle-circle"></div>
              </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-11">
            <div class="mt-4 mb-3 input-container">
              <label for="from" class="fw-bold label-text">From</label>
              <input
                type="text"
                class=""
                name="from"
                required
                pattern="^[A-Z a-z]+$"
              />
            </div>
      
            <div class="mb-3 input-container">
              <label for="to" class="fw-bold label-text">To</label>
              <input
                type="text"
                class="border-blue"
                name="to"
                required
                pattern="^[A-Z a-z]+$"
              />
            </div>

            <div class="mb-3 input-container">
              <label for="date" class="fw-bold label-text">Date</label>
              <input
                type="date"
                class="border-blue text-secondary"
                name="date"
                required
              />
            </div>
          </div>

          <div class="col-1 d-flex flex-column align-items-center icon">
              <i class="fa-solid fa-circle start"></i>
              <i class="fa-solid fa-circle fa-2xs"></i>
              <i class="fa-solid fa-circle fa-2xs"></i>
              <i class="fa-solid fa-circle fa-2xs"></i>
              <i class="fa-solid fa-circle fa-2xs"></i>
              <i class="fa-sharp fa-solid fa-location-dot fa-lg end"></i>
          </div>
        </div>
        
  
        

        <div class="time-stamp">
          <label for="time" class="fw-bold label-text">Time</label>
          <div class="d-flex flex-wrap">
            <div *ngFor="let time of timeStamp; let idx=index" >
              <button type="radio" class="rounded-pill" id="{{idx}}" (click)="saveTime(time)">{{time}}</button>
            </div>
          </div>
  
        </div>
        <div class="next-button">
          <p class="fw-bold " (click)="validateDetail(offerRide.value)">next >></p>
        </div>
      </form>


      <div class="next-form" *ngIf="isValidationSuccess">
        
        <form class="bg-white mb-5">
          <div class="d-flex justify-content-between form-title">
            <div>
              <h2 class="mb-0">Offer a ride</h2>
              <p class="text-secondary">we get you the matches asap !</p>
            </div>
            <div class="pisition-relative">
                <div class="d-flex align-items-center ps-1 toggle-ride"  (click)="toogleRide()">
                    <div class="toggle-circle"></div>
                </div>
            </div>
          </div>


          <div class="mt-3 d-flex">
            
            <div>
              <div *ngFor="let number of stops; let idx=index" class="d-flex flex-column">
                
                <div class="mb-3 input-container">
                  <label for="from" class="fw-bold label-text">Stop {{idx+1}}</label>
                  <input
                  type="text"
                  class=""
                    name="from"
                    required
                    pattern="^[A-Z a-z]+$"
                    />
                    <i  *ngIf="idx==stops.length-1 && stops.length!=1" class="fa-sharp fa-solid fa-minus fa-sm minus" (click)="removeStop(idx)"></i>
                    <!-- <i  *ngIf="stops.length>=2 && idx!=stops.length-1" class="fa-sharp fa-solid fa-minus fa-sm" (click)="removeStop(idx)"></i> -->
                    <i *ngIf="idx==stops.length-1" class="fa-sharp fa-solid fa-plus fa-sm" (click)="addStops()"></i>
                </div>

              </div>

            </div>

            <div class="icon icon-2">
              <div *ngFor="let number of stops;let idx=index" class="d-flex flex-column align-items-center justify-content-between">
                <i *ngIf="idx==0" class="fa-solid fa-circle start"></i>
                <i class="fa-solid fa-circle fa-2xs"></i>
                <i class="fa-solid fa-circle fa-2xs"></i>
                <i class="fa-solid fa-circle fa-2xs"></i>
                <i *ngIf="idx==stops.length-1"class="fa-sharp fa-solid fa-location-dot fa-lg end"></i>
              </div>
            </div>

          </div>
          
          <div class="d-flex">
            <div>
              <p class="fw-bold label-text">Available Seats</p>
              <div class="seats-btn d-flex" >
                <button type="button" class="rounded-circle">1</button>
                <button type="button" class="rounded-circle">2</button>
                <button type="button" class="rounded-circle">3</button>
              </div>
            </div>
            <div>
              <p class="fw-bold label-text">Price</p>
              <p class="fw-bold fs-2" >{{rideValue}} $</p>
            </div>
          </div>

          <div class="submit-button">
            <!-- <p class="fw-bold " (click)="validateDetail()">next >></p> -->
            <button class="rounded-pill text-white fw-bold"> submit</button>
          </div>  
        </form>

      </div>
    </div>
</section>
