section{
    background: url(../../../assets/img4.png);
    // background-size: contain;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;   
    overflow-y: auto!important;
    height: 100vh;
    &>div{
        margin: 20px 30px;
    }
    .password-form-btn{
        background-color: #9319FF;
        padding: 10px;
        border: none;
        border-radius: 10px;
    }
}
.user-div{
    padding: 1rem;
    max-width: 30rem;
    border: 2px solid #9319FF;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    p{
        font-size: 1.5rem;
        // color: #FFAC19;
        span{
            color: #000;
            font-size: 1.4rem;
        }
    }
    img{
        width: 10rem;
        height: 10rem;
    }
    i{
        position: relative;
        top: 16px;
        cursor: pointer;
    }
    
}

.update{
    button{
        border: none;
        border-radius: 10px;
        padding: 8px 32px;
        color:#fff;
        font-weight: bold;
        &:nth-child(2){
            background-color: #9319FF;
        }
    }
    &>div{
        padding: 10px;
        border-radius: 10px; 
        width: 20rem;
        border: 2px solid #9319FF;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }
    input{
        width: 18rem;
    }
    .update-user{
        padding: 10px;
        border-radius: 10px;
        border: 2px solid #9319FF;
        
    }
    .update-password{
        input{
            height: 50px;
        }
        .eye-icon{
            position: absolute;
            margin-top: -40px;
            right: 15px;
            cursor: pointer;
            z-index: 1;
            i{
                color: #CDCDCD;
                font-size: 20px;
            }
        }
        .same-passwowd
        {
            width: 18rem;
        }
        
    }
}
@media only screen and (max-width: 860px) {

    section>div{
        flex-direction: column;
    }
}
@media only screen and (max-width: 550px) {

    .user-div
    {
        margin-right: 0 !important;
        &>div{
            flex-direction: column;
            div{
                margin-right: 0 !important;
            }
        }
    }
}