<section>
    <app-nav></app-nav>
    
    <div class="d-flex flex-column align-items-center">
        <p class="mb-4">Hey {{name}}!</p>
        <div class=" d-flex align-items-center text-white ride-nevigation">
            <p class="d-flex align-items-center justify-content-center me-3 book" (click)="openBookRide()">Book a ride</p>
            <p  class="d-flex align-items-center justify-content-center offer" (click)="openOfferRide()">Offer a ride</p>
        </div>
    </div>
</section>








<!-- <section class="home container-fluid ps-0">
    <app-nav class="ps-0"></app-nav>
  
  <div class="row mt-5 pt-4">
      <div class="row"><h2 class="pb-4 text-bolder text-end col-5 pe-3">Hey {{name}}!</h2></div>            
      <div class="col gy-2 gx-3 ">
          <div class="d-flex justify-content-end">
              <a  class="box-ride background-purple ms-3 shadow pt-2" >
                  <h2 class="text-center pt-4 mt-5">Book a ride</h2>
              </a>
          </div>
      </div>
      <div class="col gy-2 gx-3">
          <div class="d-flex justify-content-start">
              <a class="box-ride background-yellow ms-3 shadow pt-2">
                  <h2 class="text-center pt-4 mt-5">Offer a ride</h2>
              </a>
          </div>
      </div>
  </div> -->