.ride-container{
    margin: 3rem 2rem;
    .div-headings{
        border-radius: 6px;
        background: #FFAC19;
        padding: 0.5rem 1.5rem;
        width: 10rem;
        text-align: center;    
    }
    #booked-Ride-heading{
        background:#9319FF ;
    }
}
.ride-card{
    height: 18rem;
    width: 25rem;
    padding: 1rem;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 0.3);;
    &>div{
        width: 75%;
    }
    i{
        color: #E0E0E0;
    }

    .start{
        color:#9319FF
    }
    .ride-card-header{
        width: 100%;
        
    }
    img{
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
    span{
        color: #A1A1A1;
        font-size: 14px;
        font-weight: 600;
    }
}
@media only screen and (max-width: 890px) {

    .ride-container{
        flex-direction: column;
        align-items: center;
    }

}
@media only screen and (max-width: 450px) {

    .ride-container{
        margin: 3rem 0.5rem;
    }

}